<div class="calculadora-container">
    <app-display [valor]="resultado"></app-display>
    <div class="botoes-container">
      <app-botao label="AC" (clicar)="limpar()"></app-botao>
      <app-botao label="+" (clicar)="atualizarDisplay('+')"></app-botao>
      <app-botao label="-" (clicar)="atualizarDisplay('-')"></app-botao>
      <app-botao label="*" (clicar)="atualizarDisplay('*')"></app-botao>
  
      <app-botao label="7" (clicar)="atualizarDisplay('7')"></app-botao>
      <app-botao label="8" (clicar)="atualizarDisplay('8')"></app-botao>
      <app-botao label="9" (clicar)="atualizarDisplay('9')"></app-botao>
      <app-botao label="/" (clicar)="atualizarDisplay('/')"></app-botao>
  
      <app-botao label="4" (clicar)="atualizarDisplay('4')"></app-botao>
      <app-botao label="5" (clicar)="atualizarDisplay('5')"></app-botao>
      <app-botao label="6" (clicar)="atualizarDisplay('6')"></app-botao>
      <app-botao label="=" (clicar)="atualizarDisplay('=')"></app-botao>
  
      <app-botao label="1" (clicar)="atualizarDisplay('1')"></app-botao>
      <app-botao label="2" (clicar)="atualizarDisplay('2')"></app-botao>
      <app-botao label="3" (clicar)="atualizarDisplay('3')"></app-botao>
      <app-botao label="0" (clicar)="atualizarDisplay('0')"></app-botao>
  
      <app-botao label="." (clicar)="atualizarDisplay('.')"></app-botao>
    </div>
  </div>
  